<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
           <!-- <span class="image avatar"><img src="https://avatars.githubusercontent.com/lostagex" alt="" /></span> -->
			
			<span class="image avatar"><img src="{{ site.baseurl }}/images/photo.jpg" alt="" /></span>
			
			
            <h1 id="logo"><a href="{{ site.baseurl }}/">徐 昇</a></h1>
            <p>Hope is a good thing and can never die!</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one" class="active">Homepage</a></li>
				<li><a href="#two">Education Experience</a></li>
                <li><a href="#three">Work Experience</a></li>
				<li><a href="#four">Publications & Projects </a></li>
				<li><a href="#five">Awards & Honours</a></li>
				<li><a href="#six">Students</a></li>				
				<!-- research group, activities, links& collaborations -->
                <!--<li><a href="#six">Contact</a></li>-->
            </ul>
        </nav>
        <footer>
             <ul class="icons">
                <li>Address: Longpan Road #159, Nanjing, 210037</li>
				li>Email: xusheng [AT] njfu.edu.cn</li>
           
        </footer>
    </section>

