<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
           <!-- <span class="image avatar"><img src="https://avatars.githubusercontent.com/lostagex" alt="" /></span> -->
			
			<span class="image avatar"><img src="{{ site.baseurl }}/images/photo.jpg" alt="" /></span>
			<span class="image avatar"><img src="https://avatars.githubusercontent.com/lostagex" alt="" /></span>
			
			
            <h1 id="logo"><a href="{{ site.baseurl }}/">徐 昇</a></h1>
            <p>Hope is good thing and can never die !</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one" class="active">Homepage</a></li>
				<li><a href="#two">Short Bio</a></li>
                <li><a href="#three">Interests</a></li>
				<li><a href="#four">Publications</a></li>
				<li><a href="#five">Award & Honours</a></li>
			<!-- 	research group, activities, links& collaborations -->
                <li><a href="#six">Contact</a></li>
            </ul>
        </nav>
        <footer>
             <ul class="icons">
                <li>Email: xusheng404@gmail.com</li>
           
        </footer>
    </section>

